@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
.App {
  overflow: hidden;
}
div, section {
  overflow: hidden;
}

/********** Navigation Bar**********/
.navigation-bar {
  background-color: #6faaff;
}
.primary-nav a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
}
.mobile-popup {
  position: absolute;
  background-color: #6faaff;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 99%;
}
.mobile-popup .close-btn {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  right: 1.5rem;
  top: 1.5rem;
}

/* Create Note */
.create-form {
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.create-form input,
.create-form textarea {
  outline: none;
  font-family: inherit;
  resize: none;
}
.create-form button {
  right: -16px;
  bottom: -16px;
  background: #6faaff;
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.add-category-select {
  border: none;
  outline: none;
  width: 100px;
  color: #666362;
  font-size: 0.92rem;
}

/* Notes */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  flex-basis: 28%;
}
.note p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  color: #6faaff;
  border: none;
  cursor: pointer;
  outline: none;
}
.pin-box {
  top: 10px;
  right: 10px;
}

.pin-box em{
  position: relative;
  bottom: 5px;
}
.delete-btn {
  border-radius: 5px;
  float: right;
  bottom: 2px;
  right: 3px;
}
.category-select {
  border: none;
  outline: none;
  width: 100px;
  font-style: italic;
  color: #666362;
  appearance: none;
}
.category {
  bottom: 2px;
  left: 3px;
}
.custom-ui {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.custom-ui span {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
  color: #666362;
  cursor: pointer;
}
.custom-ui h1 {
  font-weight: 700;
  font-size: 1.3rem;
}
.custom-ui p {
  font-weight: 400;
  font-size: 1rem;
  color: #666362;
  margin: 10px 0;
}
.custom-ui .action-btns {
  display: flex;
  justify-content: right;
  gap: 15px;
  margin: 15px 0;
}
.danger-btn {
  background-color: #ff0e0e;
  color: #fff;
  border-radius: 5px;
  min-width: 100px;
  padding: 7px 15px;
}
.neutral-btn {
  background-color: #fff;
  color: #666362;
  border-radius: 5px;
  min-width: 100px;
  border: 1px solid #666362;
  padding: 7px 15px;
}


/* Edit Note */
.note-editor {
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (max-width: 600px) {
  .note-editor {
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
  }
}
.left-btn, .right-btn {
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}
.right-btn {
  background-color: #6faaff;
}
/* Pagination */
.pages div {
  cursor: pointer;
}
.unclick {
  pointer-events: none;
  user-select: none;
}

/* Special Effects */
.blurred {
  filter: blur(2.5px);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  background-color: black;
  opacity: 0.1;
}


